#about_carousel .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 40vmax; /* height relative to viewport max */
    overflow: hidden;
  }

embed {
  width: 100%; /* width relative to parent */
  font-family: Helvetica Neue; /* this does not work */
}
